/*register.css*/

.register__modal {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin:auto;
  border: 1px solid red;

}

.register__modal__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 75%;
justify-content: center;
align-items: center;
padding: 1rem;
border:1px solid  rgba(0, 113, 194, 0.556);
border-radius: 1rem;

}

.register__input {
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.register__input--username {
  border: 1px solid rgba(0, 113, 194, 0.556);
}
.register__input--email {
  border: 1px solid rgba(0, 194, 23, 0.556);
}

.register__input--password {
  border: 1px solid rgba(194, 58, 0, 0.556);
}

.register__modal--btn {
  border: none;
  padding: 0.5rem 1rem;
  background-color: rgb(0, 59, 149);
  color: white;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
}
.register__modal--btn:disabled {
  cursor: not-allowed;
 background-color: rgba(22, 157, 207, 0.964);
}

.error__msg {
  color: tomato;
  font-weight: bold;
  max-width: 70%;
  
}
